@import "tailwindcss";

body{
   background-color: #F3F3F8; 
}
/* Width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background:#999999;
  border-radius: 10px;
}

/* Thumb hover */
::-webkit-scrollbar-thumb:hover {
  background:gray;
}
   